@charset "UTF-8";

/* 共通部分 */
html {
    font-size: 100%;
}

body{
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
    line-height: 1.7;
    color: #000000;
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
}
/* HEADER */

.logo {
  width: 220px;
  margin-top: 16px;
}

.main-nav {
    font-family: 'Courier New', sans-serif;
    display: flex;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 8px;
    list-style: none;

}

.main-nav li {
    margin-top: 35px;
    margin-left: 40px;

}

.main-nav a {
    color: #000000;

}

.main-nav a:hover {
    color: #AAAAAA;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 4%;
}

.wrapper p {
    font-size: 1rem;
}

/* HOME */
.home-content {
    text-align: center;
    margin-top: 0;
}

.home-content p {
    font-size: 1rem;
    margin: 10px 0 42px;
}

/* 見出し */

.page-title {
    font-size: 4rem;
    font-family: 'Impact', sans-serif;
    margin-top: 22px;
    text-transform: none;
    font-weight: normal;
}

.page-title-g {
    font-size: 2rem;
    font-family: 'Klee', serif;
    margin-top: 30px;
    margin-bottom: 35px;
    margin-left: 10px;
}

.gallery-cotents {
    font-family: 'Courier New', sans-serif;
        display: flex;
        font-size: 1.09rem;
        text-transform: uppercase;
        list-style: none;
}

.gallery-cotents li {
    margin-bottom: 25px;
    margin-left: 40px;
}

.gallery-cotents a {
    color: #696969;
}

.gallery-cotents a:hover {
    color: 	#2C7CFF;
}

.page-title-p {
    font-size: 2rem;
    font-family: 'Klee', serif;
    margin-top: 30px;
    margin-bottom: 35px;
    margin-left: 10px;
}

/* TOPページボタン */

a.btn_23 {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 180px;
	margin: auto;
	padding: 0.5rem 1rem;
	font-weight: bold;
	border: 2px solid #000000;
	color: #000000;
	cursor: pointer;
	position: relative;
 	overflow: hidden;
 	z-index: 1;
}

a.btn_23::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #696969;
	transform: translateX(-100%);
	transition: all .3s;
	z-index: -1;
}

a.btn_23:hover::before {
	transform: translateX(0);
}

a.btn_23:hover {
	color: #fff;
}

/* ギャラリーボタン　*/

a.btn_27 {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	width: 180px;
	margin: auto;
	padding: 0.5rem 1rem;
	color: #fff;
	font-weight: bold;
	background: #000000;
	position: relative;
	transition: 0.3s ease-in-out;
}
a.btn_27:hover {
    background: #fff;
    color: #000000;
}
a.btn_27:before, a.btn_27:after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
a.btn_27:before {
  top: 0;
  left: 0;
}
a.btn_27:after {
  bottom: 0;
  right: 0;
}
a.btn_27:hover:before, a.btn_27:hover:after {
  width: 100%;
  height: 100%;
}
a.btn_27:hover:before {
  border-top-color: #000000;
  border-right-color: #000000;
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
a.btn_27:hover:after {
  border-bottom-color: #000000;
  border-left-color: #000000;
  transition: border-color 0s ease-out 0.2s, width 0.15s ease-out 0.2s, height 0.15s ease-out 0.3s;
}

/* ギャラリー画像 */

.gallery-wrapper {
  width: 100%;
  display: flex;
}

:nth-of-type(even) {
  flex-direction: row-reverse;
}

.gallery1, .gallery2 {
  width: 50%;
  display: flex;
  align-items: center;
}

.gallery1 {
  background: #fff;
  padding: 60px;
  box-sizing: border-box;
}

.gallery1 a {
  margin-left: 38%;
}

.gallery-wrapper:nth-of-type(2n) .gallery1:nth-of-type(1){
  background: #fff;
}

.gallery1title {
  font-size: 30px;
  font-family: 'Klee';
  color: #777777;
}

.gallery2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and ( max-width:500px )
{
  .gallery-wrapper {
    flex-direction: column-reverse;
  }
  .gallery1, .gallery2 {
  width: 100%;
}
.gallery1 {
  padding: 25px;
} 
}

  /* プロフィール記事、画像 */

.id-photo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 4%;
}

article {
  width: 74%;
}

aside {
  width: 230%;
  font-size: 15px;
}

aside p {
  height: 45px;
}

.profile-contents p {
  font-size: 1.1rem;
  margin-bottom: 50px;
  margin-left: 10px;
}

/* フッター */
footer {
    text-align: right;
    margin-top: 50px;
    margin-right: 20px;
}

footer p {
    color: #000000;
    font-size: 1.5rem;
}